/*
	* Copyright : GREZI
	* Author : Adrien Solacroup
	* Encoding : UTF-8
	* Licence (code) : GNU AFFERO GENERAL PUBLIC LICENSE Version 3, 19 November 2007
	* Licence (distribution) : Creative Commons Attribution BY SA 4.0 International
*/

/*
--------------------------------
DECLARING VARIABLES
--------------------------------
*/

:root {
	--main_color_01: #8784C4;
	--main_color_02: #5FBEB8;
	--main_color_03: #ffffff;
	--main_color_04: #D7D6EB;
	--main_color_05: #161616;
	--main_color_01_faded: rgba(135, 132, 196 ,0.5);
	--main_color_03_faded: rgba(255, 255, 255, 0.8);
	--main_color_node: #595958;
	--main_color_editor_01: #6666CC;
	--main_color_editor_02: #C1C1E3;
	--main_color_01_BACKUP: #8784C4;
	--main_color_02_BACKUP: #5FBEB8;
	--main_color_03_BACKUP: #ffffff;
	--main_color_04_BACKUP: #D7D6EB;
	--main_color_05_BACKUP: #161616;
	--main_color_01_faded_BACKUP: rgba(135, 132, 196 ,0.5);
	--main_color_03_faded_BACKUP: rgba(255, 255, 255, 0.8);
	--main_color_node_BACKUP: #595958;
	--main_color_editor_01_BACKUP: #6666CC;
	--main_color_editor_02_BACKUP: #C1C1E3;
  --quit_color_01: #EA668A;
  --quit_color_02: #F3A5BA;
  --quit_color_03: #F8C9D5;
}

/*
--------------------------------
GENERAL STYLES
--------------------------------
*/

/* MISCELLANEOUS */

body {
  font-family: "Arial";
  font-size: 0.75rem;
  letter-spacing: 0.0625em;
  background: transparent;
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* background-size: 100%; */
}

a,
a:not([href]):not([tabindex]) {
  color: var(--main_color_04);
}

a:focus, a:hover {
  text-decoration: none;
  font-weight: bold;
  color: var(--main_color_04);
}

h1 {
  font-size: 1.75rem;
}

h2 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1rem;
}

@media (min-width: 992px) {
  body {
    font-size: 1rem;
  }
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 2rem;
  }
  h4 {
    font-size: 1.5rem;
  }
}

/* BUTTON */

.btn {
  -webkit-box-shadow: 0 0 0 0 !important;
  box-shadow: 0 0 0 0 !important;
  padding: 1.25rem 2rem;
  font-family: 'Arial';
  font-size: 80%;
  text-transform: uppercase;
  letter-spacing: .15rem;
  border: 0;
}

.btn-primary {
  background-color: var(--main_color_04) !important;
}

.btn-primary:hover {
  background-color: var(--main_color_02) !important;
}

.btn-primary:focus {
  background-color: var(--main_color_02) !important;
  box-shadow: none !important;
}

.btn-primary:active {
  background-color: var(--main_color_02) !important;
  box-shadow: none !important;
}

/* TOOLTIP */

.tooltip-inner {
  pointer-events: none;
	background: var(--main_color_02);
	font-weight: bold;
}

/* ANIMATION (img zoom in) */

.inner{
	overflow: hidden;
}

.inner img{
	transition: all 0.5s ease;
}

.inner:hover img{
	transform: scale(1.25);
}

.inner object{
	transition: all 0.5s ease;
}

.inner:hover object{
	transform: scale(1.25);
}

/* BOOK IMAGE */

#div_book_image {
  width: 100%;
  height: 75px;
  display: flex;
  justify-content: center;
}

#book_image {
  position: absolute;
  height: inherit !important;
}

#book_image_access {
  z-index: 9999;
  opacity: 0;
  transition: 0.75s;
  position: absolute;
  height: inherit !important;
}

#book_image_access img {
  height: inherit !important;
}

#book_image_access:hover {
  opacity: 1;
}

@media (min-width: 992px) {
  #div_book_image {
    height: 150px;
  }
}

/* TEMPLATE EXPLANATION */

#div_template_image {
  width: 100%;
  display: flex;
  justify-content: center;
}

#template_image {
  width: 90%;
}

@media (min-width: 992px) {
  #template_image {
    width: 60%;
  }
}

/* LICENCES IMG */

.licences_img {
  border-width: 0px;
  height: 10px;
}

@media (min-width: 992px) {
  .licences_img {
    height: 30px;
  }
}

/* LIBERAPAY BUTTON */

html > body .liberapay-btn {
    background-color: #f6c915;
    border-radius: 4px;
    color: #1a171b !important;
    display: inline-block;
    font-family: Helvetica Neue,Helvetica,sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
    padding: 5px 7px 3px;
    position: relative;
    text-decoration: none;
}
html > body .liberapay-btn:hover {
    background-color: #fbce1a;
}
.liberapay-btn > svg {
    position: absolute;
    left: 7px;
    top: 7px;
}
.liberapay-btn > span {
    margin-left: 19px;
}

