/*
	* Copyright : GREZI
	* Author : Adrien Solacroup
	* Encoding : UTF-8
	* Licence (code) : GNU AFFERO GENERAL PUBLIC LICENSE Version 3, 19 November 2007
	* Licence (distribution) : Creative Commons Attribution BY SA 4.0 International
*/

/*
--------------------------------
GENERAL MODAL
--------------------------------
*/

#appli_graph {
  -moz-user-select: none !important;
  -khtml-user-select: none !important;
  -webkit-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}

#appli_graph .modal {
  z-index: 99999;
  background: rgba(0,0,0,0.5);
}

#appli_graph .modal-content {
	background: transparent;
}

#appli_graph .modal-header {
  background-color: var(--main_color_01);
}

#appli_graph .modal-header .modal-title {
  color: white;
}

#appli_graph .modal-header a {
  margin-right: 2rem;
  margin-top: auto;
  margin-bottom: auto;
}

#appli_graph .modal-header button {
  color: white;
}

#appli_graph .modal-header button:hover {
  color: white;
}

@media (min-width: 992px) {
	#appli_graph .modal-header h4 {
	  font-size: 200%;
	}
}

#appli_graph .modal-hr {
  display:-webkit-flex;
  -webkit-justify-content:center;
  display:flex;
  justify-content:center;
  background-color: white;
}

#appli_graph .modal-hr hr {
  width: 50%;
  border-width: 0.25rem;
  background-color: var(--main_color_01);
}

#appli_graph .modal-body {
  color: var(--main_color_01);
  background-color: white;
}

#appli_graph .modal-body p {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#appli_graph .modal-body ul {
  margin-bottom: 1rem;
}

#appli_graph .modal-body a {
  color: var(--main_color_02);
  font-weight: normal;
}

#appli_graph .modal-body a:focus,
#appli_graph .modal-body a:hover {
  text-decoration: none;
  font-weight: bold;
  color: var(--main_color_02);
}

#appli_graph .modal-quit {
  background-color: white;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;
}

#appli_graph .modal-quit .btn-primary {
  padding: 1.25rem 2rem;
  font-size: 80%;
  background-color: var(--quit_color_02) !important;
}

#appli_graph .modal-quit .btn-primary:hover {
  background-color: var(--quit_color_01) !important;
}

#appli_graph .featured-text {
  padding: 2rem;
  text-align: justify;
  text-justify: inter-word;
}

@media (min-width: 992px) {
  #appli_graph .featured-text {
	padding: 0 0 0 2rem;
	text-align: justify;
	text-justify: inter-word;
	border-left: 0.5rem solid var(--main_color_01);
  }
}

#appli_graph .featured-text a {
  color: var(--main_color_04);
  border-bottom: dotted 1px var(--main_color_04);
}

#appli_graph .featured-text a:focus, a:hover {
  text-decoration: none;
  font-weight: bold;
  color: var(--main_color_04);
}

#appli_graph .btn-primary {
  padding: 0.25rem 0.25rem;
  font-size: 60%;
  font-weight: bold;
  text-transform: none;
  letter-spacing: .1rem;
  overflow: hidden;
}

#appli_graph .lateral-hr {
  display:-webkit-flex;
  -webkit-justify-content:center;
  display:flex;
  justify-content:center;
  background-color: var(--main_color_01);
}

#appli_graph .lateral-hr hr {
  width: 50%;
  border-width: 0.25rem;
  background-color: var(--main_color_04);
}

/*
--------------------------------
GENERAL MODAL : graph choice
--------------------------------
*/

#graphChoiceModal .modal-body .modal_block_text {
  background: white;
}


#graphChoiceModal .modal-body .modal_block_text_CONTENT {
  padding: 1rem;
  text-align: left;
  text-justify: inter-word;
  font-size: 90%;
}

@media (min-width: 992px) {
  #graphChoiceModal .modal-body .modal_block_text_CONTENT {
    padding-left: 3rem;
	padding-right: 3rem;
	margin-top: 3rem;
	margin-bottom: 3rem;
	text-align: left;
	text-justify: inter-word;
	border-left: 0.25rem solid var(--main_color_01);
  }
}

#appli_graph #appli_graph_TemplateGraphs .btn-primary {
  width: 95%;
  padding: 0.75rem 0.25rem;
  font-size: 60%;
  background-color: var(--main_color_02) !important;
}

@media (min-width: 992px) {
  #appli_graph #appli_graph_TemplateGraphs .btn-primary {
    width: 75%;
    padding: 1.25rem 2rem;
    font-size: 80%;
  }
}

#appli_graph #appli_graph_TemplateGraphs .btn-primary:hover {
  background-color: var(--main_color_01) !important;
}

#appli_graph #appli_graph_TemplateGraphs .btn-primary p {
  margin-bottom: 0 !important;
}

#appli_graph #appli_graph_TemplateGraphs .btn-primary img {
  width: 75%;
  height: auto;
}

@media (min-width: 992px) {
  #appli_graph #appli_graph_TemplateGraphs .btn-primary img {
    width: 50%;
  }
}

/*
--------------------------------
GENERAL MODAL : information
--------------------------------
*/

#informationModal .modal-body img {
  height: 15px;
  margin-right: 0rem;
  border-radius: 0%;
}

/*
--------------------------------
GENERAL MODAL : selection
--------------------------------
*/

#selectionModal_header img {
  height: 40px;
  width: 40px;
  margin-right: 1rem;
  border-radius: 50%;
}

/*
--------------------------------
GENERAL MODAL : summary
--------------------------------
*/

#summaryModal .modal-body img {
  height: 40px;
  width: 40px;
  margin-right: 1rem;
  border-radius: 50%;
}

#summaryModal .modal-body h1 {
  font-size: 150%;
  background-color: var(--main_color_01);
  color: white;
  padding-left: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  display:-webkit-flex;
  -webkit-justify-content:left;
  -webkit-align-items:center;
  display:flex;
  justify-content:left;
  align-items:center;
}

@media (min-width: 992px) {
	#summaryModal .modal-body h1 {
	  font-size: 200%;
	}
}

#summaryModal .modal-body h2 {
  font-size: 140%;
  background-color: var(--main_color_02);
  color: white;
  padding-left: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

@media (min-width: 992px) {
	#summaryModal .modal-body h2 {
	  font-size: 180%;
	}
}

#summaryModal .modal-body h3 {
  font-size: 130%;
  background-color: var(--main_color_03);
  color: var(--main_color_01);
  padding-left: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

@media (min-width: 992px) {
	#summaryModal .modal-body h3 {
	  font-size: 160%;
	}
}

#summaryModal .modal-body h4 {
  font-size: 120%;
  color: var(--main_color_01);
  font-weight: bold;
  padding-left: 3rem;
  text-decoration:underline;
}

@media (min-width: 992px) {
	#summaryModal .modal-body h4 {
	  font-size: 140%;
	}
}

/*
--------------------------------
GENERAL MODAL : bug
--------------------------------
*/

#bugModal .form-control {
  color: var(--main_color_01);
  font-weight: bold;
  font-style: normal;
  background-color: var(--main_color_03) !important;
  border-color: var(--main_color_01);
}

#bugModal .form-group textarea {
  font-weight: normal;
}

#bugModal .form-control::placeholder {
  color: var(--main_color_01_faded);
  font-weight: normal;
  font-style: italic;
}

#bugModal .modal-body .btn-primary {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  font-size: 80%;
  background-color: var(--main_color_02) !important;
}

#bugModal .modal-body .btn-primary:hover {
  background-color: var(--main_color_01) !important;
}

#bugModal .modal-body #form_bug_report_IFRAME {
  width: 100%;
  display: none;
}

#bugModal .modal-body iframe {
  width: 100%;
  border: 0;
}

#bugModal .form-control:active,
#bugModal .form-control:focus,
#bugModal .form-group:active,
#bugModal .form-group:focus {
  -webkit-box-shadow: 0 0 0 0;
  box-shadow: 0 0 0 0;
}

/*
--------------------------------
GENERAL MODAL : data upload
--------------------------------
*/

#uploadModal a {
	color: var(--main_color_01) !important;
}

#uploadModal .btn-selectpicker {
  padding: 0.5rem 2rem 0.5rem 1rem;
  color: white !important;
  background-color: var(--main_color_01);
  font-family: 'Arial';
  font-size: 100%;
  font-weight: normal;
  font-style: italic;
  text-transform: none;
  letter-spacing: .15rem;
  border: 0;
}

#uploadModal .dropdown-toggle.bs-placeholder {
  color: white !important;
  font-weight: bold;
  font-style: normal;
}

#uploadModal .selected {
  background-color: var(--main_color_02) !important;
}

#uploadModal .selected::focus {
  background-color: var(--main_color_02) !important;
}

#uploadModal .form-control {
  color: var(--main_color_01);
  font-weight: bold;
  font-style: normal;
  background-color: var(--main_color_03) !important;
  border-color: var(--main_color_01);
}

#uploadModal .form-group textarea {
  font-weight: normal;
}

#uploadModal .form-control::placeholder {
  color: var(--main_color_01_faded);
  font-weight: normal;
  font-style: italic;
}

#uploadModal .form-control:active,
#uploadModal .form-control:focus {
  -webkit-box-shadow: 0 0 0 0;
  box-shadow: 0 0 0 0;
}

/*
--------------------------------
GRAPH STYLES : main elements
--------------------------------
*/

#appli_graph_main_screen {
  padding: 0 0 0 0;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: var(--main_color_03);
}

#appli_graph_main_screen p {
  text-align: justify;
  margin: 0;
}

#appli_graph_element {
  z-index: 3;
  display: none;
  position: absolute;
  background: transparent;
  pointer-events: none;
}

#appli_graph_element .btn-primary {
  display: none;
  pointer-events: auto;
}

#appli_graph_buttons {
  z-index: 3;
  display: none;
  position: absolute;
  background: transparent;
  text-align: right;
  pointer-events: none;
  width: 100%;
}

#appli_graph_buttons .btn {
  text-align: center;
  vertical-align: middle;
  align-items: center;
  pointer-events: auto;
}

#appli_graph_buttons .btn span {
  display: none;
}

#appli_graph_buttons .btn img {
  border-radius: 50%;
}

@media (min-width: 992px) {
	
	#appli_graph_buttons .btn {
	  width: 20%;
	  text-align: right;
	}

	#appli_graph_buttons .btn span {
	  display: initial;
	}
	
	#appli_graph_buttons .btn img {
	  margin-left: 0.5rem;
	  margin-right: 0.5rem;
	}

	.mainViewButtons {
	  padding-top: 1rem;
	  padding-bottom: 1rem;
	}
	
	.mainViewButtons img {
	  display: none;
	}

	#appli_graph_buttons .btn-primary b {
	  font-size: 125%;
	}

}

.mainViewButtons {
  display: none;
  color: white !important;
  background: var(--main_color_01) !important;
  padding: 0.75rem 0.75rem !important;
}

#appli_graph_buttons_CONTENT {
  display: flex;
  justify-content: right;
}

#appli_graph_buttons_CONTENT .btn-primary {
  color: var(--main_color_01) !important;
}

#appli_graph_buttons_LEGEND {
  display: flex;
  justify-content: right;
}

.buttons_accordion {
  margin-left: auto;
  color: var(--main_color_01);
  margin-bottom: .25rem;
}

.buttons_accordion img {
  border-radius: 0% !important;
}

.buttons_accordion .card {
  border: none;
}

.buttons_accordion h3 {
  font-size: 1.5rem;
}

.buttons_accordion button {
  width: 100% !important;
}

.buttons_accordion .card-header {
  background-color: var(--main_color_01);
  padding: 0;
  border: none;
}

.buttons_accordion .card-header .btn-link {
  padding: 0 !important;
  text-align: center !important;
  color: white;
  font-weight: bold;
  font-size: 1rem;
}

.buttons_accordion .collapse,
.buttons_accordion .collapsing {
  background-color: var(--main_color_03);
  padding-top: 1rem;
  padding-left: .25rem;
  padding-right: .25rem;
  border-style: solid;
  border-width: 5px;
  border-color: var(--main_color_01);
}

@media (min-width: 992px) {
  .buttons_accordion {
    min-width: 20%;
    max-width: 50%;
  }
}

#collapseLegend {
  padding: 1rem;
  pointer-events: auto;
}

#collapseLegend h1 {
  margin-top: 0.5rem;
  font-size: 1rem;
  font-weight: : bold;
  text-align: left;
}

#collapseLegend p {
  font-size: 0.75rem;
  text-align: left;
  margin-bottom: 0.25rem;
}

#collapseLegend label {
  font-size: 0.75rem;
}

#collapseLegend label:hover {
  cursor: pointer;
}

#collapseLegend_DIV_CONTROL {
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  max-height: 50vh;
}

#collapseLegend_DIV_CONTROL::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

#legendAccordion_body_CUSTOM .custom-checkbox {
  text-align: left;
}

#legendAccordion_body_CUSTOM .custom-control-label {
  margin-bottom: 1rem;
}

#legendAccordion_body_CUSTOM .custom-control-label::after {
  background-color: var(--main_color_04);
  border-color: var(--main_color_04);
  border: 0;
}

#legendAccordion_body_CUSTOM .custom-control-label::before {
  display: none;
}


/*
--------------------------------
LATERAL SCREEN
--------------------------------
*/

#appli_graph_lateral_screen {
  padding: 0 0 0 0;
  position: absolute;
  height: 100%;
  width: 100%;
  display: -webkit-flex;
  -webkit-align-items: flex-end;
  -webkit-justify-content: center;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

#appli_graph_lateral_body {
  background-color: var(--main_color_01);
  padding: 1rem;
  text-align: justify;
  color: white;
}

#appli_graph_lateral_body .lateral-hr {
  background-color: transparent;
}

#appli_graph_lateral_body h1 {
  text-align: center;
  font-size: 100%;
  margin: 0;
}

@media (min-width: 992px) {
	#appli_graph_lateral_body h1 {
	  font-size: 200%;
	}
}

@media (orientation: portrait) {
	#appli_graph_lateral_body {
	  height: 40%;
	  width: 100%;
	}
}

@media (orientation: landscape) {
	#appli_graph_lateral_screen {
	  display: initial;
	  text-align: right;
	}
	#appli_graph_lateral_body {
	  display: inline-block;
	  height: 100%;
	  width: 40%;
	}
}

#appli_graph_lateral_body img {
  height: 25px;
  width: 25px;
  margin-right: 0;
  border-radius: 0;
}

#appli_graph_lateral_screen h1 img {
  height: 40px;
  width: 40px;
  margin-right: 1rem;
  border-radius: 50%;
}

#appli_graph_lateral_body input {
  width: 100%;
}

#appli_graph_lateral_body textarea {
  width: 100%;
}

#tooltipLateral_body_CONTAINER {
  height: 100%;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#tooltipLateral_body_CONTAINER::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

#tooltipLateral_body .custom-control-label {
  margin-bottom: 1rem;
}

#tooltipLateral_body .custom-control-label::after {
  background-color: var(--main_color_04);
  border-color: var(--main_color_04);
  border: 0;
}

#tooltipLateral_body .custom-control-label::before {
  display: none;
}

/*
--------------------------------
SEARCH BAR
--------------------------------
*/

#appli_graph_SEARCHING {
  z-index: 3;
  display: none;
  visibility: visible;
  height: 100%;
  width: 100%;
  position: absolute;
  background: transparent;
  pointer-events: none;
  display: flex;
  align-items: flex-end;
  text-align: right;
  justify-content: space-between;
}

#appli_graph_BUTTONS_BOX {
  margin-left: 0.5rem !important;
  margin-bottom: 0.5rem !important;
  min-width: fit-content;
}

#appli_graph_SEARCH_BUTTON {
  display: none;
  padding: 0 0.25rem 0 0.25rem !important;
  margin-bottom: 0rem !important;
  pointer-events: auto;
  height: 0px;
  font-size: 100% !important;
  color: var(--main_color_01);
  border-top: 2px solid var(--main_color_01);
  border-bottom: 2px solid var(--main_color_01);
  border-right: 2px solid var(--main_color_01);
  border-left: 2px solid var(--main_color_01);
  border-radius: 8px 0px 0px 8px;
}

#appli_graph_MODE_BUTTON_zoom {
  display: none;
  padding: 0 0.25rem 0 0.25rem !important;
  margin-bottom: 0rem !important;
  pointer-events: auto;
  height: 0px;
  font-size: 100% !important;
  color: var(--main_color_01);
  border-top: 2px solid var(--main_color_01);
  border-bottom: 2px solid var(--main_color_01);
  border-right: 2px solid var(--main_color_01);
  border-left: none;
  border-radius: 0px 0px 0px 0px;
}

#appli_graph_MODE_BUTTON_selected {
  display: none;
  padding: 0 0.25rem 0 0.25rem !important;
  margin-bottom: 0rem !important;
  pointer-events: auto;
  height: 0px;
  font-size: 100% !important;
  color: var(--main_color_01);
  border-top: 2px solid var(--main_color_01);
  border-bottom: 2px solid var(--main_color_01);
  border-right: 2px solid var(--main_color_01);
  border-left: none;
  border-radius: 0px 0px 0px 0px;
}

#appli_graph_MODE_BUTTON_and {
  display: none;
  padding: 0 0.25rem 0 0.25rem !important;
  margin-bottom: 0rem !important;
  pointer-events: auto;
  height: 0px;
  font-size: 100% !important;
  color: var(--main_color_01);
  border-top: 2px solid var(--main_color_01);
  border-bottom: 2px solid var(--main_color_01);
  border-right: 1px dotted var(--main_color_01);
  border-left: none;
  border-radius: 0px 0px 0px 0px;
}

#appli_graph_MODE_BUTTON_or {
  display: none;
  padding: 0 0.25rem 0 0.25rem !important;
  margin-bottom: 0rem !important;
  pointer-events: auto;
  height: 0px;
  font-size: 100% !important;
  color: var(--main_color_01);
  border-top: 2px solid var(--main_color_01);
  border-bottom: 2px solid var(--main_color_01);
  border-right: none;
  border-left: none;
  border-radius: 0px 0px 0px 0px;
}

#appli_graph_SEARCH_BUTTON img {
  width: 100%;
}

#appli_graph_MODE_BUTTON_zoom img,
#appli_graph_MODE_BUTTON_selected img,
#appli_graph_MODE_BUTTON_and img,
#appli_graph_MODE_BUTTON_or img {
  width: 100%;
  display: initial;
}

#appli_graph_SEARCH_BUTTON span,
#appli_graph_MODE_BUTTON_zoom span,
#appli_graph_MODE_BUTTON_selected span,
#appli_graph_MODE_BUTTON_and span,
#appli_graph_MODE_BUTTON_or span {
  display: none;
}

#appli_graph_SEARCH_BAR {
  background: transparent;
  pointer-events: none;
  width: 100%;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}

#appli_graph_SEARCH_BAR .input-8f2fe,
#appli_graph_SEARCH_BAR .placeholder-d722a {
  color: var(--main_color_03);
  padding-left: .5rem;
}

/*

#appli_graph_SEARCH_BAR .input-8f2fe {
  color: var(--main_color_03);
  padding-left: .5rem;
  background-position-x: .5rem;
  background-image: url("../icon/plus-solid.svg");
  background-repeat: no-repeat;
}

#appli_graph_SEARCH_BAR .input-8f2fe:focus,
#appli_graph_SEARCH_BAR .input-8f2fe:not(:placeholder-shown) {
  background-image: none;
}

*/


#appli_graph_SEARCH_BAR .autocomplete-container-7a26d {
  width: 100%;
  pointer-events: auto;
  padding: 0 0 0 0;
  font-weight: bold;
  font-size: 75%;
  color: var(--main_color_01);
  background-color: var(--main_color_01);
  border-top: 2px solid var(--main_color_01);
  border-bottom: 2px solid var(--main_color_01);
  border-right: 2px solid var(--main_color_01);
  border-left: none;
  border-radius: 0px 8px 8px 0px;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  max-height: 10vh;
}

#appli_graph_SEARCH_BAR .autocomplete-container-7a26d::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

#appli_graph_SEARCH_BAR .autocomplete-container-7a26d ul {
  margin-top: 0 !important;
  margin-bottom: 0.5 rem !important;
  top: auto !important;
  bottom: 5% !important;
  border-color: var(--main_color_01);
}

#appli_graph_SEARCH_BAR .token-group-c7334 {
  background-color: var(--main_color_04);
  border: none;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box !important;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  white-space: normal;
  text-align: left;
}

#appli_graph_SEARCH_BAR .selected-token-group-359b9 {
  color: white;
  background: var(--main_color_04) !important;
}

#appli_graph_SEARCH_BAR .remove-token-group-53474 {
  font-size: 20px;
}

#appli_graph_SEARCH_BAR .list-item-d13e9 {
  background: var(--main_color_03) !important;
  border-color: var(--main_color_01);
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box !important;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  white-space: normal;
}

#appli_graph_SEARCH_BAR .list-item-d13e9:hover {
  display: inherit !important;
}

#appli_graph_SEARCH_BAR .list-item-d13e9 .children-indicator-ca540 {
  display: contents !important;
}

#appli_graph_SEARCH_BAR .highlighted-ea4c1 {
  color: var(--main_color_02);
}

@media (min-width: 992px) {
  #appli_graph_BUTTONS_BOX {
    margin-left: auto !important;
  }
  #appli_graph_MODE_BUTTON_zoom img,
  #appli_graph_MODE_BUTTON_selected img,
  #appli_graph_MODE_BUTTON_and img,
  #appli_graph_MODE_BUTTON_or img {
    display: none;
  }
  #appli_graph_SEARCH_BUTTON span,
  #appli_graph_MODE_BUTTON_zoom span,
  #appli_graph_MODE_BUTTON_selected span,
  #appli_graph_MODE_BUTTON_and span,
  #appli_graph_MODE_BUTTON_or span {
    display: initial;
  }
  #appli_graph_SEARCH_BAR {
    width: 40%;
  }
  #appli_graph_SEARCH_BAR .remove-token-group-53474 {
    font-size: 15px;
  }
}

/*
--------------------------------
EDITOR ACCORDION
--------------------------------
*/

#editor_accordion {
  color: var(--main_color_01);
}

#editor_accordion h3 {
  font-size: 0.75rem;
}

#editor_accordion .card-header {
  background-color: var(--main_color_04);
}

#editor_accordion .card-header .btn-link {
  padding: 0 !important;
  color: var(--main_color_01);
  font-weight: bold;
  font-size: 80%;
}

#editor_accordion .collapse,
#editor_accordion .collapsing {
  background-color: var(--main_color_03_faded);
  padding-top: 1rem;
  padding-left: .25rem;
  padding-right: .25rem;
}

@media (min-width: 992px) {
  #editor_accordion h3 {
    font-size: 1.5rem;
  }
  #editor_accordion .card-header .btn-link {
    font-size: 1rem;
  }
}

/*
--------------------------------
DOWN LEFT CC ELEMENTS
--------------------------------
*/

#appli_graph_cc {
  z-index: 3;
  height: 100%;
  position: absolute;
  background: transparent;
  pointer-events: none;
  display: flex;
  align-items: flex-end;
}

#appli_graph_cc a {
  pointer-events: auto;
}

#appli_graph_cc_element {
  display: none;
}

/*
--------------------------------
MASK
--------------------------------
*/

#appli_graph_mask {
  z-index: 99999999;
  visibility: hidden;
  text-align: center;
  position: absolute;
  background-color: var(--main_color_01_faded);
  height: 100%;
  width: 100%;
  -moz-user-select: none !important;
  -khtml-user-select: none !important;
  -webkit-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}

#appli_graph_mask h3 {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  font-weight: bold;
}

/*
--------------------------------
SPINNER
--------------------------------
*/

#appli_graph_spinner {
  display: none;
  z-index: 4;
  position: absolute;
  background-color: var(--main_color_01_faded);
  height: 100%;
  width: 100%;
}

#appli_graph_spinner .spinner-border {
  padding: 10%;
  height: 100px;
  width: 100px;
  color: var(--main_color_01);
}

/*
--------------------------------
PROGRESS BAR
--------------------------------
*/

#appli_graph_progessbar {
  width: 100%;
  padding: 10%;
}

#appli_graph_progessbar .progressbar-text {
  color: var(--main_color_01) !important;
  top: 25% !important;
  font-size: 20px;
  text-align: center !important;
}

/*
--------------------------------
GRAPH NETWORK
--------------------------------
*/

#appli_graph_network_CONTAINER {
  pointer-events: auto;
}

#appli_graph_network {
  visibility: hidden;
  position: absolute;
  height: 100%;
  width: 100%;
}

#appli_graph_network > div {
  z-index: 2 !important;
  height: 100%;
  width: 100%;
}

#appli_graph_network .cxtmenu {
  z-index: 9999 !important;
}

#popper {
  z-index: 10;

  max-width: 100%;

  position: absolute;
  padding: 1rem;
  margin: 2rem;
  white-space: break-word;

  font-family: Arial;
  font-size: 14px;
  color: var(--main_color_01);
  background-color: var(--main_color_04);

  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  border-radius: 1px;
  border: 1px solid var(--main_color_01);

  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
  pointer-events: none;
}
