/*
	* Copyright : GREZI
	* Author : Adrien Solacroup
	* Encoding : UTF-8
	* Licence (code) : GNU AFFERO GENERAL PUBLIC LICENSE Version 3, 19 November 2007
	* Licence (distribution) : Creative Commons Attribution BY SA 4.0 International
*/

/*

--------------------------------
SUMMARY
--------------------------------

* DECLARING VARIABLES

* GENERAL STYLES
- MISCELLANEOUS
- BACKGROUND IMAGE
- BUTTON
- TOOLTIP
- ANIMATION (sliding blocks)
- ANIMATION (img zoom in)

 * CREDENTIALS STYLES

 * NAVBAR STYLES
 
 * HEADER STYLES
 
 * SECTION STYLES
    - section ABOUT
    - section PRESTATIONS
    - section TEAM
    - section BOOK
 
 * FOOTER STYLES

*/

/*
--------------------------------
DECLARING VARIABLES
--------------------------------
*/

:root {
	--main_color_01: #5672c4;
	--main_color_02: #ec766b;
	--main_color_03: #bedc9c;
	--main_color_04: #e9bbe1;
	--main_color_05: #161616;
	--main_color_01_faded: rgba(86, 114, 196 ,0.5);
	--main_color_03_faded: rgba(190, 220, 156, 0.8);
}

/*
--------------------------------
GENERAL STYLES
--------------------------------
*/

/* MISCELLANEOUS */

body {
  font-family: "Arial";
  letter-spacing: 0.0625em;
  background: none;
}

a {
  color: var(--main_color_04);
}

a:focus, a:hover {
  text-decoration: none;
  font-weight: bold;
  color: var(--main_color_04);
}

h1 {
  font-size: 1.75rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  text-align: left;
  font-size: 1.25rem;
  line-height: 1.25rem;
}

@media (min-width: 992px) {
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    text-align: justify;
    font-size: 2rem;
    line-height: 2rem;
  }
}

p {
  margin-bottom: 0.5rem;
}

/* BUTTON */

.btn {
  -webkit-box-shadow: 0 0 0 0 !important;
  box-shadow: 0 0 0 0 !important;
  padding: 1.25rem 2rem;
  font-family: 'Arial';
  font-size: 80%;
  text-transform: uppercase;
  letter-spacing: .15rem;
  border: 0;
}

.btn-primary {
  background-color: var(--main_color_04) !important;
}

.btn-primary:hover {
  background-color: var(--main_color_02) !important;
}

.btn-primary:focus {
  background-color: var(--main_color_02) !important;
  box-shadow: none !important;
}

.btn-primary:active {
  background-color: var(--main_color_02) !important;
  box-shadow: none !important;
}

/*
--------------------------------
HEADER STYLES
--------------------------------
*/

.masthead {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 35rem;
  padding: 15rem 0;
}

.masthead h1 {
  vertical-align: middle;
  font-family: 'Arial';
  font-size: 1.75rem;
  font-weight: bold;
  line-height: 2.75rem;
  letter-spacing: 0.4rem;
  color: var(--main_color_01);
}

.masthead h2 {
  max-width: 20rem;
  font-size: 1rem;
  color: var(--main_color_01);
  font-weight: bold;
}

.masthead h3 {
  color: var(--main_color_01);
}

.masthead .service_icon img {
  height: 75px;
  width: 75px;
}

.masthead img {
  height: 200px;
}

@media (min-width: 768px) {
  .masthead h1 {
    font-size: 2rem;
	font-weight: normal;
    line-height: 2.5rem;
    letter-spacing: 0.4rem;
  }
  .masthead .service_icon img {
    height: 100px;
    width: 100px;
  }
  .masthead img {
    height: 300px;
  }
}

@media (min-width: 992px) {
  .masthead {
    height: 100vh;
    padding: 0;
  }
  .masthead h1 {
    font-size: 3.25rem;
	font-weight: normal;
    line-height: 3rem;
    letter-spacing: 0.4rem;
  }
  .masthead h2 {
    max-width: 100%;
    font-size: 2.25rem;
	color: var(--main_color_01);
  }
}

.masthead .title_page {
  background-color: var(--main_color_03_faded);
}
