/*
	* Copyright : GREZI
	* Author : Adrien Solacroup
	* Encoding : UTF-8
	* Licence (code) : GNU AFFERO GENERAL PUBLIC LICENSE Version 3, 19 November 2007
	* Licence (distribution) : Creative Commons Attribution BY SA 4.0 International
*/

#_talking_introduction {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  padding-top: 20%;
  padding-bottom: 20%;
  display: initial;
  justify-items: center;
  align-items: center;
  background-color: var(--main_color_03);
  -moz-user-select: none !important;
  -khtml-user-select: none !important;
  -webkit-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}

#_talking_introduction_TEXT {
  width: 100%;
}

#_talking_introduction_IMG {
  height: 80%;
  width: 100%;
}

#_talking_introduction_TEXT h1 {
  padding-left: 10%;
  padding-right: 10%;
  font-size : 1rem;
  text-align: center;
  color: var(--main_color_01);
}

#_talking_introduction_TEXT h2 {
  margin-top: .5rem;
  font-size: .75rem;
  font-style: italic;
  text-align: center;
}

#_talking_introduction_TEXT hr {
  border: none;
}

#_talking_introduction_IMG img {
  height: 100%;
  width: 100%;
}

#_talking_button {
  z-index: 999999;
  position: absolute;
  background: transparent;
  text-align: center;
  pointer-events: none;
  width: 100%;
}

#_talking_button > button {
  pointer-events: auto;
  padding: 0.5rem !important;
  font-size: 100% !important;
  opacity: 0.5 !important;
}

#_talking_button > button:hover {
  opacity: 1 !important;
  transition: opacity 1s !important;
}

#_talking_button > button > a {
  color: white;
}

#_talking_button_fullscreen {
  display: none;
  pointer-events: auto;
  font-size: 100% !important;
  opacity: 0.25 !important;
}

#_talking_button_pass {
  display: none;
}

#_talking_button_suspend {
  display: none;
}

#_talking_button_launch {
  display: none;
}

#_talking_main_screen {
  z-index: 999;
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: top;
}

#_talking_frame {
  z-index: 999999;
  pointer-events: auto;
  min-height: 25%;
  width: 100%;
  margin: 1rem;
  padding: 0.5rem;
  border-radius: 10px;
  background-color: var(--main_color_01);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#_talking_image {
  padding: 0;
  display: none;
  text-align: center;
  align-items: center;
}

#_talking_image img {
  max-height: 100%;
  max-width: 100%;
}

#_talking_title {
  color: white;
}

#_talking_title h1 {
  font-size: 0.9rem;
  margin-bottom: 0.25rem;
}

#_talking_typed {
  color: white;
  font-size: 1rem;
}

#_talking_next_word {
  display: none;
  color: white;
  font-size: 50%;
  font-style: italic;
  animation: blinker 1s linear infinite;
}

@keyframes blinker { to { opacity: 0; } }

@media (min-width: 400px) {
	#_talking_introduction {
	  padding-top: 10%;
	  padding-bottom: 10%;
	}
	#_talking_introduction_TEXT h1 {
	  font-size: 1.5rem;
	}
  #_talking_introduction_TEXT h2 {
    font-size: 1rem;
  }
	#_talking_image {
	  padding: inherit;
	}
	#_talking_title h1 {
	  font-size: 1rem;
	  margin-bottom: 0.5rem;
	}
	#_talking_typed {
	  font-size: 1.25rem;
	}
	#_talking_next_word {
	  font-size: 100%;
	}
}

@media (min-width: 992px) {
	#_talking_introduction {
	  padding-top: 5%;
	  padding-bottom: 5%;
	}
	#_talking_introduction_TEXT h1 {
	  font-size: 2rem;
	}
	#_talking_image {
		padding: inherit;
	}
	#_talking_frame {
	  margin: 4rem;
	  padding: 1rem;
	}
	#_talking_title h1 {
	  font-size: 1.5rem;
	  margin-bottom: 1rem;
	}
	#_talking_typed {
	  font-size: 1.5rem;
	}
	#_talking_next_word {
	  font-size: 125%;
	}
}